HIST_AOI/Connected Services/wsCAMX/CAMXMessageBrokerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://camx.rpc.cogiscan.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CAMXMessageBrokerImplService" targetNamespace="http://camx.rpc.cogiscan.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.3.4:80/cgscamx/CAMX-WS?xsd=1" namespace="http://camx.rpc.cogiscan.com/" />
    </xsd:schema>
  </types>
  <message name="subscribeForEvent">
    <part name="parameters" element="tns:subscribeForEvent" />
  </message>
  <message name="subscribeForEventResponse">
    <part name="parameters" element="tns:subscribeForEventResponse" />
  </message>
  <message name="acknowledgeEvents">
    <part name="parameters" element="tns:acknowledgeEvents" />
  </message>
  <message name="acknowledgeEventsResponse">
    <part name="parameters" element="tns:acknowledgeEventsResponse" />
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout" />
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse" />
  </message>
  <message name="waitForEvent">
    <part name="parameters" element="tns:waitForEvent" />
  </message>
  <message name="waitForEventResponse">
    <part name="parameters" element="tns:waitForEventResponse" />
  </message>
  <message name="postEvents">
    <part name="parameters" element="tns:postEvents" />
  </message>
  <message name="postEventsResponse">
    <part name="parameters" element="tns:postEventsResponse" />
  </message>
  <message name="pullEvents">
    <part name="parameters" element="tns:pullEvents" />
  </message>
  <message name="pullEventsResponse">
    <part name="parameters" element="tns:pullEventsResponse" />
  </message>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <portType name="CAMXMessageBroker">
    <operation name="subscribeForEvent">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/subscribeForEventRequest" message="tns:subscribeForEvent" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/subscribeForEventResponse" message="tns:subscribeForEventResponse" />
    </operation>
    <operation name="acknowledgeEvents">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/acknowledgeEventsRequest" message="tns:acknowledgeEvents" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/acknowledgeEventsResponse" message="tns:acknowledgeEventsResponse" />
    </operation>
    <operation name="logout">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/logoutRequest" message="tns:logout" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/logoutResponse" message="tns:logoutResponse" />
    </operation>
    <operation name="waitForEvent">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/waitForEventRequest" message="tns:waitForEvent" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/waitForEventResponse" message="tns:waitForEventResponse" />
    </operation>
    <operation name="postEvents">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/postEventsRequest" message="tns:postEvents" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/postEventsResponse" message="tns:postEventsResponse" />
    </operation>
    <operation name="pullEvents">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/pullEventsRequest" message="tns:pullEvents" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/pullEventsResponse" message="tns:pullEventsResponse" />
    </operation>
    <operation name="login">
      <input wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/loginRequest" message="tns:login" />
      <output wsam:Action="http://camx.rpc.cogiscan.com/CAMXMessageBroker/loginResponse" message="tns:loginResponse" />
    </operation>
  </portType>
  <binding name="CAMXMessageBrokerImplPortBinding" type="tns:CAMXMessageBroker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="subscribeForEvent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="acknowledgeEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="waitForEvent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="postEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pullEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CAMXMessageBrokerImplService">
    <port name="CAMXMessageBrokerImplPort" binding="tns:CAMXMessageBrokerImplPortBinding">
      <soap:address location="http://192.168.3.4:80/cgscamx/CAMX-WS" />
    </port>
  </service>
</definitions>